# This file contains environment variables for the project
# JWT CONFIGURATION
JWT_KEY=
JWT_ISSUER=
JWT_AUDIENCE=
# CLOUDINARY CONFIGURATION
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
# VNPAY CONFIGURATION
VNPAY_TMN_CODE=
VNPAY_HASH_SECRET=
# GMAIL CONFIGURATION
GOOGLE_SENDER_EMAIL=
GOOGLE_APP_PASSWORD=
GOOGLE_SMTP_HOST=
GOOGLE_SMTP_PORT=
# CONNECTION STRINGS
SQL_CONNECTION_STRING=
REDIS_CONNECTION_STRING=
# SPEEDSMS CONFIGURATION
SPEEDSMS_TOKEN=
SPEEDSMS_DEVICE_ID=
#STRINGS
SMS_SEND_TOKEN_MESSAGE=
MAIL_SEND_CONFIRM_TOUR_MESSAGE=
MAIL_SEND_CANCELLED_TOUR_MESSAGE=
#FIREBASE CONFIGURATION
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
FIREBASE_CLIENT_ID=
# VARIABLES
PENDING_BOOKING_EXPIRE_AFTER_MINUTES=
REVIEW_TOUR_EXPIRE_AFTER_DAYS=
